In [3]:
import pandas as pd

In [20]:
from sqlalchemy import create_engine
import mysql.connector

In [18]:
from pymongo import MongoClient
import json

In [29]:
covid

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

LIMPIEZA

In [28]:
covid = pd.read_csv("COVID.csv")

In [30]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              187 non-null    int64
 7   New recovered           187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(4), int64(9), object(2)
memory usage: 22.0+ KB

In [31]:
covid.isnull().sum()

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64

EXPORTAR A MYSQL

In [16]:
# Reemplazar 'inf' con NaN (o un valor numérico como 0)
covid.replace([float('inf'), float('-inf')], pd.NA, inplace=True)

# Configurar la conexión a la base de datos
engine = create_engine("mysql+mysqlconnector://root:1Ingeniero2@localhost/covid")

# Cargar los datos en la tabla
covid.to_sql("covid_data", con=engine, if_exists="replace", index=False)

187

EXTRAER DE MYSQL

In [34]:
# Conectar a MySQL
mysql_conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1Ingeniero2",
    database="covid"
)
cursor = mysql_conn.cursor(dictionary=True)

# Consultar datos
cursor.execute("SELECT * FROM covid_data")
rows = cursor.fetchall()

# Guardar en un archivo JSON
with open("covid.json", "w") as file:
    json.dump(rows, file, indent=4)

# Cerrar conexión
cursor.close()
mysql_conn.close()

CONECTAR A MONGO

In [35]:
# Conectar a MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client["covid"]
collection = db["covid_data"]

# Leer el archivo JSON
with open("covid.json", "r") as file:
    data = json.load(file)

# Insertar datos en MongoDB
collection.insert_many(data)

print("Datos migrados exitosamente.")

Datos migrados exitosamente.

In [39]:
covid_json = pd.read_json("covid.json")

In [41]:
covid_json = covid_json.set_index('index')

In [42]:
covid_json

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
index,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [83]:
nba_csv = pd.read_csv("NBA.csv")

In [97]:
nba_csv.head(10)

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,...,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,...,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,...,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97
5,5,Gerald Wilkins,ORL,33.0,198.12,102.058200,Tennessee-Chattanooga,USA,1985,2,...,10.6,2.2,2.2,-5.8,0.031,0.064,0.203,0.503,0.143,1996-97
6,6,Gheorghe Muresan,WAS,26.0,231.14,137.438376,Otro,USA,1993,2,...,10.6,6.6,0.4,6.9,0.098,0.217,0.185,0.618,0.024,1996-97
7,7,Glen Rice,CHH,30.0,203.20,99.790240,Michigan,USA,1989,1,...,26.8,4.0,2.0,3.2,0.025,0.087,0.272,0.605,0.088,1996-97
8,8,Glenn Robinson,MIL,24.0,200.66,106.594120,Purdue,USA,1994,1,...,21.1,6.3,3.1,-2.9,0.051,0.144,0.278,0.528,0.146,1996-97
9,9,Grant Hill,DET,24.0,203.20,102.058200,Duke,USA,1994,1,...,21.4,9.0,7.3,6.9,0.049,0.232,0.283,0.556,0.356,1996-97

In [99]:
nba_csv.isnull().sum()

Unnamed: 0           0
player_name          0
team_abbreviation    0
age                  0
player_height        0
player_weight        0
college              0
country              0
draft_year           0
draft_round          0
draft_number         0
gp                   0
pts                  0
reb                  0
ast                  0
net_rating           0
oreb_pct             0
dreb_pct             0
usg_pct              0
ts_pct               0
ast_pct              0
season               0
dtype: int64

In [96]:
nba_csv['college'].fillna('Otro', inplace=True)

In [98]:
nba_csv.to_csv('NBA.csv', index=False)

In [103]:
# Configurar la conexión a la base de datos
engine = create_engine("mysql+mysqlconnector://root:1Ingeniero2@localhost/nba")

# Cargar los datos en la tabla
nba_csv.to_sql("jugadores", con=engine, if_exists="replace", index=False)

12844

In [104]:
# Conectar a MySQL
mysql_conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1Ingeniero2",
    database="nba"
)
cursor = mysql_conn.cursor(dictionary=True)

# Consultar datos
cursor.execute("SELECT * FROM jugadores")
rows = cursor.fetchall()

# Guardar en un archivo JSON
with open("nba.json", "w") as file:
    json.dump(rows, file, indent=4)

# Cerrar conexión
cursor.close()
mysql_conn.close()

In [105]:
client = MongoClient("mongodb://localhost:27017/")
db = client["nba"]
collection = db["jugadores"]

# Leer el archivo JSON
with open("nba.json", "r") as file:
    data = json.load(file)

# Insertar datos en MongoDB
collection.insert_many(data)

print("Datos migrados exitosamente.")

Datos migrados exitosamente.

In [108]:
nba_json = pd.read_json("nba.json")
nba_json = nba_json.set_index('Unnamed: 0')

In [109]:
nba_json

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,Randy Livingston,HOU,22,193.04,94.800728,Louisiana State,USA,1996,2,42,...,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,Gaylon Nickerson,WAS,28,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,34,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,George Lynch,VAN,26,203.20,103.418976,North Carolina,USA,1993,1,12,...,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,George McCloud,LAL,30,203.20,102.058200,Florida State,USA,1989,1,7,...,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,George Zidek,DEN,23,213.36,119.748288,UCLA,USA,1995,1,22,...,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,Joel Embiid,PHI,29,213.36,127.005760,Kansas,Cameroon,2014,1,3,...,33.1,10.2,4.2,8.8,0.057,0.243,0.370,0.655,0.233,2022-23
12840,John Butler Jr.,POR,20,213.36,86.182480,Florida State,USA,Undrafted,Undrafted,Undrafted,...,2.4,0.9,0.6,-16.1,0.012,0.065,0.102,0.411,0.066,2022-23
12841,John Collins,ATL,25,205.74,102.511792,Wake Forest,USA,2017,1,19,...,13.1,6.5,1.2,-0.2,0.035,0.180,0.168,0.593,0.052,2022-23
12842,Jericho Sims,NYK,24,208.28,113.398000,Texas,USA,2021,2,58,...,3.4,4.7,0.5,-6.7,0.117,0.175,0.074,0.780,0.044,2022-23
12843,JaMychal Green,GSW,33,205.74,102.965384,Alabama,USA,Undrafted,Undrafted,Undrafted,...,6.4,3.6,0.9,-8.2,0.087,0.164,0.169,0.650,0.094,2022-23

LIMPIAR DATOS STARBUCKS

In [127]:
starbucks_csv.head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,00000,No disponible,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,00000,No disponible,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,00000,No disponible,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,00000,No disponible,GMT+04:00 Asia/Dubai,54.54,24.51

In [110]:
starbucks_csv = pd.read_csv("STARBUCKS.csv")

In [126]:
starbucks_csv.isnull().sum()

Brand             0
Store Number      0
Store Name        0
Ownership Type    0
Street Address    0
City              0
State/Province    0
Country           0
Postcode          0
Phone Number      0
Timezone          0
Longitude         0
Latitude          0
dtype: int64

In [115]:
starbucks_csv['Street Address'].fillna('Desconocido', inplace=True)

In [117]:
starbucks_csv['City'].fillna('Ciudad Desconocido', inplace=True)

In [119]:
starbucks_csv['Postcode'].fillna('00000', inplace=True)

In [121]:
starbucks_csv['Phone Number'].fillna('No disponible', inplace=True)

In [123]:
starbucks_csv['Longitude'].fillna('0.0', inplace=True)

In [125]:
starbucks_csv['Latitude'].fillna('0.0', inplace=True)

In [128]:
starbucks_csv.to_csv('STARBUCKS.csv', index=False)

In [129]:
# Configurar la conexión a la base de datos
engine = create_engine("mysql+mysqlconnector://root:1Ingeniero2@localhost/starbucks")

# Cargar los datos en la tabla
starbucks_csv.to_sql("tiendas", con=engine, if_exists="replace", index=False)

25600

In [130]:
# Conectar a MySQL
mysql_conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1Ingeniero2",
    database="starbucks"
)
cursor = mysql_conn.cursor(dictionary=True)

# Consultar datos
cursor.execute("SELECT * FROM tiendas")
rows = cursor.fetchall()

# Guardar en un archivo JSON
with open("starbucks.json", "w") as file:
    json.dump(rows, file, indent=4)

# Cerrar conexión
cursor.close()
mysql_conn.close()

In [131]:
client = MongoClient("mongodb://localhost:27017/")
db = client["starbucks"]
collection = db["tiendas"]

# Leer el archivo JSON
with open("starbucks.json", "r") as file:
    data = json.load(file)

# Insertar datos en MongoDB
collection.insert_many(data)

print("Datos migrados exitosamente.")

Datos migrados exitosamente.

In [135]:
starbucks_json = pd.read_json("starbucks.json")

In [136]:
starbucks_json

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,00000,No disponible,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,00000,No disponible,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,00000,No disponible,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,00000,No disponible,GMT+04:00 Asia/Dubai,54.54,24.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25595,Starbucks,21401-212072,Rex,Licensed,"141 Nguyễn Huệ, Quận 1, Góc đường Pasteur và L...",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3824 4668,GMT+000000 Asia/Saigon,106.70,10.78
25596,Starbucks,24010-226985,Panorama,Licensed,"SN-44, Tòa Nhà Panorama, 208 Trần Văn Trà, Quận 7",Thành Phố Hồ Chí Minh,SG,VN,70000,08 5413 8292,GMT+000000 Asia/Saigon,106.71,10.72
25597,Starbucks,47608-253804,Rosebank Mall,Licensed,"Cnr Tyrwhitt and Cradock Avenue, Rosebank",Johannesburg,GT,ZA,2194,27873500159,GMT+000000 Africa/Johannesburg,28.04,-26.15
25598,Starbucks,47640-253809,Menlyn Maine,Licensed,"Shop 61B, Central Square, Cnr Aramist & Coroba...",Menlyn,GT,ZA,181,No disponible,GMT+000000 Africa/Johannesburg,28.28,-25.79
25599,Starbucks,47609-253286,Mall of Africa,Licensed,"Shop 2077, Upper Level, Waterfall City",Midrand,GT,ZA,1682,27873500215,GMT+000000 Africa/Johannesburg,28.11,-26.02